/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, hsla(111, 55%, 64%, 0.801),hsla(160, 64%, 43%, 0.801)),url("../img/hero.jpg");
    /* background: linear-gradient(to right, rgba(0, 128, 0, 0.747), rgba(119, 128, 0, 0.788)),url("../img/hero.jpg"); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    background-size: cover;
    background-position: top;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.icon {
    height: 35px;
}

.main-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: #fff;
    margin-bottom: 60px;
}

.out {
    display: block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}

.is {
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
    }
}

.btn:link, .btn:visited {
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-white {
    color: #777;
    background-color: #fff;
}


.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: buttonMoveUp 1s  .75s ease-out;
    animation-fill-mode: backwards;
}

@keyframes buttonMoveUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
